<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aas.system.domain.repository.query.CodeQueryRepository">

    <select id="getStStdCd" resultType="com.aas.system.domain.model.StStdCd">
        SELECT /* CodeQueryMapper.getStStdCd */
               GRP_CD         AS grpCd
             , CD             AS cd
             , FN_GET_CODENAME(GRP_CD, CD, #{langCd}) AS cdNm
             , CD_DESC        AS cdDesc
             , USE_YN         AS useYn
             , SORT_SEQ       AS sortSeq
             , REF_1_VAL      AS ref1Val
             , REF_2_VAL      AS ref2Val
             , REF_3_VAL      AS ref3Val
             , REF_4_VAL      AS ref4Val
             , REF_5_VAL      AS ref5Val
             , SYS_REG_ID     AS sysRegId
             , SYS_REG_DTM    AS sysRegDtm
             , SYS_MOD_ID     AS sysModId
             , SYS_MOD_DTM    AS sysModDtm
          FROM ST_STD_CD
         WHERE
        (
        <foreach collection="arr" item="grp" separator="or">
            GRP_CD = #{grp}
        </foreach>
        )
           AND USE_YN = 'Y'
         ORDER BY GRP_CD, SORT_SEQ
    </select>

</mapper>
