<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aas.display.domain.repository.StandardDisplayCategoryConnectQueryRepository">

    <!-- ?곌껐???뚯쟾??移댄뀒怨좊━ 紐⑸줉 議고쉶 -->
    <select id="selectConnectList" parameterType="com.aas.display.domain.model.StandardDisplayCategoryConnectQueryParam" resultType="com.aas.display.interfaces.dto.rsp.StandardDisplayCategoryConnectRspDto">
        /* StandardDisplayCategoryConnectQueryRepository.selectConnectList */
        SELECT  PSCDI.STD_CTG_NO
             , (SELECT
                    PDCBM_LRG.DISP_CTG_NM
                    || COALESCE(' > ' || PDCBM_MID.DISP_CTG_NM, '')
                    || COALESCE(' > ' || PDCBM_SML.DISP_CTG_NM, '')
                    || COALESCE(' > ' || PDCBM_THN.DISP_CTG_NM, '')
                FROM PR_DISP_CTG_BASE PDCB1
                    LEFT OUTER JOIN PR_DISP_CTG_BASE_ML PDCBM_LRG ON PDCB1.LRG_CTG_NO = PDCBM_LRG.DISP_CTG_NO AND PDCBM_LRG.LANG_CD = 'ko'
                    LEFT OUTER JOIN PR_DISP_CTG_BASE_ML PDCBM_MID ON PDCB1.MID_CTG_NO = PDCBM_MID.DISP_CTG_NO AND PDCBM_MID.LANG_CD = 'ko'
                    LEFT OUTER JOIN PR_DISP_CTG_BASE_ML PDCBM_SML ON PDCB1.SML_CTG_NO = PDCBM_SML.DISP_CTG_NO AND PDCBM_SML.LANG_CD = 'ko'
                    LEFT OUTER JOIN PR_DISP_CTG_BASE_ML PDCBM_THN ON PDCB1.THN_CTG_NO = PDCBM_THN.DISP_CTG_NO AND PDCBM_THN.LANG_CD = 'ko'
                WHERE PDCB1.DISP_CTG_NO = PSCDI.DISP_CTG_NO
               ) AS DISP_CTG_NM
             , PSCDI.DISP_CTG_NO
             , PSCDI.REP_CTG_YN
             , PSCDI.USE_YN
             , PSCDI.SITE_NO
             , CSB.SITE_NM
             , PSCDI.DPML_NO
             , PDB.DPML_NM
             , PSCDI.SYS_MOD_ID
             , TO_CHAR(PSCDI.SYS_MOD_DTM, 'YYYY-MM-DD HH24:MI:SS') AS SYS_MOD_DTM
        FROM   PR_STD_CTG_DISP_INFO PSCDI
                   JOIN  PR_DISP_CTG_BASE PDCB ON PSCDI.DISP_CTG_NO = PDCB.DISP_CTG_NO
                   JOIN  CC_SITE_BASE CSB ON PSCDI.SITE_NO = CSB.SITE_NO
                   JOIN  PR_DPML_BASE PDB ON PSCDI.DPML_NO = PDB.DPML_NO
        WHERE  PSCDI.STD_CTG_NO = #{stdCtgNo}
          AND  PSCDI.DEL_YN = 'N'
        ORDER BY PSCDI.SITE_NO, PSCDI.DPML_NO, PSCDI.REP_CTG_YN DESC, PSCDI.DISP_CTG_NO
    </select>

</mapper>
